// img {
//   width: 30%;
//   height: 50%;
// }
// form {
//   width: 50%;
//   margin: 0 auto;
// }
@media (min-width: 800px) and (max-width: 1920px) {
  form {
    width: 100%;
    height: 100%;
    //margin: 3rem;
    padding: 2rem;
    //border: 1px solid red;
    background: rgb(248, 242, 242);

    .prof-img {
      position: absolute;
      top: 2rem;
      right: 12rem;

      // button {
      //   margin: 5rem;
      // }
    }
  }
}
