@media (min-width: 800px) and (max-width: 1920px) {  

    header{
        width: 75rem;
        margin: 0 auto;
        margin-bottom: 30px;
        justify-content: space-between;
        display: flex;

    }

    .logoContainer img{
        width: 100px;
        height: auto;
    }


    nav{
        font-size: 21px;

    }

    .nav{
        justify-content: flex-end;
    }

    nav ul li{
        margin: 0px 5px;
    }

    nav ul li:hover{
        color: #00688B;
        cursor: pointer;
    }

}


