.App {
  text-align: center;
}


body{
  padding: 0px;
  margin: 0 auto;
  text-align: center;

}

main{
   margin: 0 auto;
   padding: 0px

}

@media (min-width: 800px) and (max-width: 1920px) {  

 main{
   width: 85rem;
 }



}


